
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin menu {
  @include center;
  list-style: none;
}

@mixin menu {
  display: flex;
  justify-content: space-between;
}

@mixin decor{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}